<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyj.motion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivity.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".touch.TouchActivity"
            android:theme="@style/MainActivity.Theme" />
        <activity
            android:name=".touch.TouchStickyActivity"
            android:theme="@style/MainActivity.Theme" />
        <activity
            android:name=".touch.TouchDrawActivity"
            android:theme="@style/MainActivity.Theme" />
        <activity
            android:name=".scroll.ScrollActivity"
            android:theme="@style/MainActivity.Theme" />
        <activity
            android:name=".gesture.GestureActivity"
            android:theme="@style/MainActivity.Theme" />
        <activity
            android:name=".gesture.LightGestureActivity"
            android:theme="@style/MainActivity.Theme" />
        <activity
            android:name=".gesture.GestureScaleActivity"
            android:theme="@style/MainActivity.Theme" />
    </application>

</manifest>